TMA2/part2/assets/courses.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="courses">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="course" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="title"/>
              <xs:element name="units">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="unit" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="unitMeta">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="title"/>
                                <xs:element name="abstract">
                                  <xs:complexType mixed="true">
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="abbrev" maxOccurs="unbounded" minOccurs="0"/>
                                      <xs:element type="xs:string" name="title" minOccurs="0"/>
                                    </xs:sequence>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="lessons">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="lesson" maxOccurs="unbounded" minOccurs="0">
                                  <xs:complexType>
                                    <xs:sequence>
                                      <xs:element type="xs:string" name="title" minOccurs="0"/>
                                      <xs:element name="content">
                                        <xs:complexType mixed="true">
                                          <xs:sequence>
                                            <xs:element type="xs:string" name="disp-quote" maxOccurs="unbounded" minOccurs="0"/>
                                          </xs:sequence>
                                        </xs:complexType>
                                      </xs:element>
                                      <xs:element name="quiz">
                                        <xs:complexType>
                                          <xs:sequence>
                                            <xs:element name="question" maxOccurs="unbounded" minOccurs="0">
                                              <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="xs:string" name="text"/>
                                                  <xs:element type="xs:string" name="answer"/>
                                                </xs:sequence>
                                              </xs:complexType>
                                            </xs:element>
                                          </xs:sequence>
                                          <xs:attribute type="xs:string" name="id" use="optional"/>
                                        </xs:complexType>
                                      </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="id" use="optional"/>
                                  </xs:complexType>
                                </xs:element>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:byte" name="book-part-number" use="optional"/>
                        <xs:attribute type="xs:string" name="book-part-type" use="optional"/>
                        <xs:attribute type="xs:string" name="id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="book-part-number" use="optional"/>
            <xs:attribute type="xs:string" name="book-part-type" use="optional"/>
            <xs:attribute type="xs:string" name="id" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>